.ListOfCinemacontainer {
  width: 100%;
  height: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.ListOfCinemaMainsize {
  width: 1200px;
  min-height: 500px;
}
.cinemaList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.cinemaBorder {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 288px;
    height: 150px;
    border-radius: 5px;
  }
  div {
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
    img {
      transition: 0.2s;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
}
